*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
html, body {
  	height: 100%;
  	width: 100%;
  	padding: 0;
  	margin: 0;
  	font-size:14px;
}
html {
	background-color: rgba(0,0,0,1);
	z-index: -200;
	position: relative;
}
h1 {
	font:normal bold 75px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	color:rgba(2, 157, 216, 1);
	text-decoration:none;
}
button {
	background: transparent url('../img/arrow.png') 170px center no-repeat;
	background-size: 12px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	font: 600 16px/1 "Arial", sans-serif;
	padding: 12px 35px 12px 12px;
	position: relative;
	display:inline-block;
}
header img{
	position:absolute;
	top:50px;
	left:50px;
}
footer {
	margin:50px 0 0 0;
}
footer small {
	color:rgba(255, 255, 255, 0.4);
	font-size:10px;
}
.content {
	color:rgba(255, 255, 255,1);
  	position: absolute;
  	width: 100%;
  	height:300px;
	margin:-150px 0 0 0;
	text-align:center;
	top:50%;
	left:0;
}
.content p {
	margin: 15px auto 0 auto;
	width: 400px;
	color:rgba(255,255,255,0.8);
}
.content h1 {
	margin:0;
}
.content button {
	margin:50px 0 0 0;
	width:195px;
}
#bg {
	z-index: -100;
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
}
#bg_img {
  	z-index: -100;
  	position: absolute;
  	top: 0; 
  	left: 0; 
  	right: 0; 
  	bottom: 0;
  	margin: auto; 
  	min-width: 50%;
  	min-height: 50%;
}
#bg_overlay {
	z-index: -50;
  	position: fixed; 
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
	background:transparent url("../img/overlay.png") repeat 0 0;
}
#bg_video {
	position: fixed; 
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	overflow: hidden;
}
#slider {
	font-size:0px;
}
#slider li{
	left:0;
}
#slider_overlay {
	z-index:0;
  	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
	background:rgba(0,0,0,0.75);
	text-indent:-99999px;
}
.bx-wrapper .bx-pager {
	bottom: -157px;
}
.bx-pager.bx-custom-pager .bx-pager-item:first-child a {
	margin: 0 9px 0 0;
}
.bx-pager.bx-custom-pager .bx-pager-item:last-child a {
	margin: 0 0 0 9px;
}
.bx-wrapper .bx-pager a {
    display: block;
    margin: 0 8px 0 8px;
}
.bx-wrapper .bx-viewport {
	border:0;
	left:0;
	top:0;
}
.bx-wrapper .bx-prev {
	left: -50px;
}
.bx-wrapper .bx-next {
	right: -50px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.blend_in {
	color:inherit;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 750px) {
   header img {
   		top:10px;
   		left:50%;
   		margin:0 0 0 -20px;
   }
   .content {
		position: relative;
		height: auto;
		margin: 0;
		top: 60px;
	}
	.content p {
		margin: 5px;
		width: auto;
	}
	.content button,footer {
		margin-top:20px;
	}
	h1 {
		font-size:30px;
	}
	.bx-wrapper {
		position: fixed;
		margin:-100px 0 0 -150px!important;
		top: 50%;
		left: 50%;
		width: 300px;
	}
	.bx-wrapper .bx-prev {
		left: 0px;
	}
	.bx-wrapper .bx-next {
		right:0px;
	}
}
.lt-ie9 .content {
	color:#fff;
}
html.lt-ie8 {
	background-color:#000;
}
.lt-ie9 button {
	color:#fff;
	font-size:15px;
}